<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>

    <style>
        .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115%; 
    margin-right: 21vh; 
}

table {
    border-collapse: separate;
    border-spacing: 5px; /* Adjust this value to increase or decrease the space between cells */
}

th {
    padding: 15px; /* Adjust this value to increase or decrease the size of the table headers */
}

    </style>
</head>
<body>
    <%- include('sidenav') %>
<div id="sidebar">
    <div class="sidebar-content">
        <ul class="sidebar-menu">
            <li><a href="/userProfile">Profile</a></li>
            <li><a href="#">Wallet</a></li>
            <li><a href="/userAddress">Address</a></li>
            <li><a href="cart">Cart</a></li>
            <li><a href="/userOrders">Orders</a></li>
            <li><a href="/wishList">wishList</a></li>

            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

 <div class="col-md-9 main-content">
    
    <h1 style="text-align: center;">User Order</h1>
    
    <div class="container">
    
      
        <div class="table-container">
     
    <% if (orders && orders.length > 0) { %>
    <table id="example" class="table table-striped " style="width:100% ;">
        <thead>
            <tr>
                <th style="background-color:#3da3f6">Product Name</th>
                <th style="background-color:#3da3f6">Quantity</th>
                <!-- <th style="background-color:#3da3f6">Discount</th> -->
                <th style="background-color:#3da3f6">Total Prices</th>
                <th style="background-color:#3da3f6">Order Date</th>
                <th style="background-color:#3da3f6">Status</th>
                <th style="background-color:#3da3f6">Payment Method</th>
                <th style="background-color:#3da3f6">Action</th>
                <th style="background-color:#3da3f6">View</th>
            </tr>
        </thead>
        <tbody>
           
                <% orders.forEach((order, index) => { %>
                    <% order.productcollection.forEach((product, productIndex) => { %>
                        <tr>
                            <td data-label="Product Name"><%= product.productName %></td>
                            <td data-label="Quantity"><%= product.quantity %></td>
                            <!-- Removed the line causing the issue -->
                            <!-- <td data-label="Discount"><%= order.Discount %></td> -->
                            <td data-label="Total Prices">₹<%= product.price * product.quantity  %></td>
                            <td data-label="Order Date"> <%= new Date(order.orderDate).toLocaleDateString() %></td>
                            <td data-label="Status"><%= product.status %></td>
                            <td data-label="Payment Method"><%= order.paymentMethod %></td>
                            <td data-label="Action">
                                <% if (product.status === 'Delivered' && product.status !== 'Returned') { %>
                                    <a href="javascript:void(0);" onclick="confirmReturn('<%= order.userid %>', '<%= product._id %>')" id="return" class="return-btn">Return</a>
                                    <% if (product.status === 'Returned') { %>
                                        Returned
                                    <% } %>
                                <% } else if (product.status !== 'Cancelled' && product.status !== 'Delivered' && product.status !== 'Returned') { %>
                                    <a href="javascript:void(0);" onclick="confirmCancel('<%= order.userid %>', '<%= product._id %>')" id="cancel" class="cancel-btn">Cancel</a>
                                <% } %>
                            </td>
                            <td data-label="Action">
                                <a href="/view/<%= product._id %>/<%= order._id %>" id="cancel" class="cancel-btn1">View</a>
                            </td>
                        </tr>
                    <% }); %>
                <% }); %>
            <% } else { %>
                <tr>
                  <br>
                    <td colspan="9"><h1 style="color:red">No orders found</h1></td>
                </tr>
            <% } %>
        </tbody>
    </table>
  </div>
</div>
</div>
  
</div>
<%- include('sidefooter') %>



<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>
    <script>
         new DataTable('#example');


    </script>


</body>
</html>