<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: url('your-background-image.jpg') center/cover no-repeat;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
            position: relative; /* Added position relative for absolute positioning */
        }

        h2 {
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-top: 10px;
            font-weight: bold;
            color: #555;
        }

        .password-input-container {
            position: relative;
        }

        input {
            margin: 5px 0 15px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: calc(100% - 30px); /* Adjusted width to accommodate the icon */
        }

        .eye-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        button {
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #2980b9;
        }

        .error-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
            display: block;
        }

        .back-to-profile-btn {
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px;
            /* Add margin for spacing */
            background-color: #3498db;
            color: #fff;
            padding: 8px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <button class="back-to-profile-btn" onclick="window.location.href='/userProfile'">Back to Profile</button>
    <div class="container">
        <h2>Password Change</h2>
      
        <form id="passwordChangeForm" action="/changePassword" method="post" onsubmit="return validateForm();">
            <label for="currentPassword">Current Password</label>
            <div class="password-input-container">
                <input type="password" id="currentPassword" name="currentPassword" required>
                <span class="eye-icon fas fa-eye-slash" onclick="togglePassword('currentPassword')"></span>
                <span id="currentPassword-error" class="error-message"><%= errorMessage.currentPassword %></span>

            </div>
        
            <label for="newPassword">New Password</label>
            <div class="password-input-container">
                <input type="password" id="newPassword" name="newPassword" required>
                <span class="eye-icon fas fa-eye-slash" onclick="togglePassword('newPassword')"></span>
                <span id="newPassword-error" class="error-message"><%= errorMessage.newPassword %></span>
            </div>
        
            <label for="confirmPassword">Confirm Password</label>
            <div class="password-input-container">
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <span class="eye-icon fas fa-eye-slash" onclick="togglePassword('confirmPassword')"></span>
                <span id="confirmPassword-error" class="error-message"><%= errorMessage.confirmPassword %></span>
            </div>
        
            <% if(errorMessage.general) { %>
                <p class="error-message"><%= errorMessage.general %></p>
            <% } %>
        
            <button type="submit" class="change-password-btn">Change Password</button>
        </form> 

    </div>

    <!-- Add this link in the head section of your HTML to include the Font Awesome library for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Add this script at the end of your HTML body or in the head section -->
    <script>
        function validateForm() {
            var currentPassword = document.getElementById('currentPassword').value;
            var newPassword = document.getElementById('newPassword').value;
            var confirmPassword = document.getElementById('confirmPassword').value;
    
            // Reset error messages
            document.getElementById('currentPassword-error').innerText = '';
            document.getElementById('newPassword-error').innerText = '';
            document.getElementById('confirmPassword-error').innerText = '';
    
            // Null validation
            if (!currentPassword.trim()) {
                document.getElementById('currentPassword-error').innerText = 'Current Password cannot be empty.';
                return false;
            }
    
            if (!newPassword.trim()) {
                document.getElementById('newPassword-error').innerText = 'New Password cannot be empty.';
                return false;
            }
    
            if (!confirmPassword.trim()) {
                document.getElementById('confirmPassword-error').innerText = 'Confirm Password cannot be empty.';
                return false;
            }
    
            // White spaces validation
            if (/\s/.test(currentPassword)) {
                document.getElementById('currentPassword-error').innerText = 'Current Password cannot contain white spaces.';
                return false;
            }
    
            if (/\s/.test(newPassword)) {
                document.getElementById('newPassword-error').innerText = 'New Password cannot contain white spaces.';
                return false;
            }
    
            if (/\s/.test(confirmPassword)) {
                document.getElementById('confirmPassword-error').innerText = 'Confirm Password cannot contain white spaces.';
                return false;
            }
    
            // Strong password validation with at least 3 numbers or digits
            var digitCount = (newPassword.match(/\d/g) || []).length;
            if (digitCount < 3) {
                document.getElementById('newPassword-error').innerText = 'New Password must contain at least 3 numbers or digits.';
                return false;
            }
    
            // Match password validation
            if (newPassword !== confirmPassword) {
                document.getElementById('confirmPassword-error').innerText = 'New Password and Confirm Password must match.';
                return false;
            }
    
            return true;
        }
    
        function togglePassword(inputId) {
            var passwordInput = document.getElementById(inputId);
            var icon = document.querySelector(`#${inputId} + .eye-icon`);
    
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            }
        }
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    
document.addEventListener("DOMContentLoaded", function () {
    // Find the change password button element
    const changePasswordButton = document.querySelector(".change-password-btn");

    // Add a click event listener to the change password button
    changePasswordButton.addEventListener("click", function (e) {
        // Prevent the default form submission
        e.preventDefault();

        // Show the SweetAlert confirmation dialog
        Swal.fire({
            title: "Change Password",
            text: "Are you sure you want to change your password?",
            icon: "question",
            showCancelButton: true,
            confirmButtonText: "Yes, change",
            cancelButtonText: "No, cancel"
        }).then((result) => {
            // If the user confirms changing the password
            if (result.isConfirmed) {
                // Submit the form (assuming the button is inside a form)
                this.closest("form").submit();
            }
        });
    });
});

</script>

</body>

</html>
