<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <title>Document</title>
    <style>

._failed{ border-bottom: solid 4px red !important; }
._failed i{  color:red !important;  }

._success {
    box-shadow: 0 15px 25px #00000019;
    padding: 45px;
    width: 100%;
    text-align: center;
    margin: 40px auto;
    border-bottom: solid 4px #28a745;
}

._success i {
    font-size: 55px;
    color: #28a745;
}

._success h2 {
    margin-bottom: 12px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 10px;
}

._success p {
    margin-bottom: 0px;
    font-size: 18px;
    color: #495057;
    font-weight: 500;
}
.center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    flex-direction: column;
  }

  /* Styling the button */
  .back-to-shop {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    
  }
    </style>
</head>
<body>
    
    <div class="container">
     
    <hr>
  
  
  <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="message-box _success _failed">
                     <i class="fa fa-times-circle" aria-hidden="true"></i>
                    <h2> Your payment failed </h2>
             <p>  Try again later </p> 
           
         
            </div> 

        </div> 
        
    </div> 
  
</div> 

<script>
    // Function to redirect to the shop after 3 seconds
    setTimeout(function() {
    window.location.href = "/checkoutPage";
  },3000); // 3 seconds

  // Function to redirect to the shop
  function redirectToShop() {
    window.location.href = "/checkoutPage";
  }
    
  </script>
</body>
</html>