<%- include('sidenav') %>
<div id="sidebar">
    <div class="sidebar-content">
        <ul class="sidebar-menu">
            <li><a href="/userProfile">Profile</a></li>
            <li><a href="#">Wallet</a></li>
            <li><a href="/userAddress">Address</a></li>
            <li><a href="cart">Cart</a></li>
            <li><a href="/userOrders">Orders</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="user-content">
        <h2>hello world this is orders pagez</h2>
    </div>
</div>
<%- include('sidefooter') %>